.home-body {
    background-color: #7fcbab;
}

.home-title {
    margin: 0 auto;
    padding: 10px 10px;
}

.banner {
    position: relative;
    background-color: #7fcbab;
    height: 200px;
}

.banner img {
    height: 100%;
}

.banner-left {
    position: absolute;
    left: 0;
}

.banner-middle {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.banner-right {
    position: absolute;
    right: 0;
}

.banner-divider {
    border: 1px solid #5ba686;
}

.banner-middle {
    margin: 0 auto;
}

.text-box {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #23272a;
    color: white;
}

.featured-list {
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style: "✅  ";
}

.featured-list li {
    margin: 10px 0;
}

@media only screen and (max-width: 900px) {

    .text-box {
        width: 90%;
    }

}