.join-body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/money pool.png');
    background-position: center top;
    overflow: hidden;
    margin: 0;
}

.join-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-text {
    margin: 20px;
    padding: 15px;
    background-image: url('../images/discord\ background.png');
    background-position: center;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 70px;
}

.big-emoji {
    font-size: 150px;
}

.widget {
    margin: 20px;
    display: block;

    max-width: 400px;
    max-height: 500px;

    width: 90%;
    height: 500px;
}

.join-button {
    text-decoration: none;
    color: white;
    background-color: #7289da;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 48px;
    padding: 2px 15px;
    margin-bottom: 20px;
    border-radius: 10px;

    transition: background-color ease 500ms;
    -webkit-transition: background-color ease 500ms;
    -moz-transition: background-color ease 500ms;
    -ms-transition: background-color ease 500ms;
    -o-transition: background-color ease 500ms;
}

.join-button:hover {
    background-color: #5c72c2;
}

@media only screen and (max-width: 900px) {

    .join-flex {
        margin: 20px auto;
        flex-direction: column;
    }

    .join-text {
        width: 95%;
        font-size: 50px;
    }

}