#member-catalog {
    background-color: #7fcbab;
}

.catalog-member-listing a {
    width: 75%;
}

.sort-by-box {
    display: block;
    background-color: #2C2F33;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Uni Sans', sans-serif;
}

.sort-by-box span {
    font-size: 40px;
}

.sort-by-box select {
    margin: 10px;
    font-size: 20px;
}

@media only screen and (max-width:800px) {
    .sort-by-box {
        width: 80%;
    }

    .catalog-member-listing a {
        width: 95%;
        padding: 10px;
    }
}

@font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"), url("../fonts/Uni\ Sans\ Heavy.otf") format("otf");
}