
.member-preview {
    background-color: #2C2F33;
    display: block;
    color: white;
    
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    
    white-space: nowrap;
    text-decoration: none;

    transition: background-color ease-in 100ms;
    -webkit-transition: background-color ease-in 100ms;
    -moz-transition: background-color ease-in 100ms;
    -o-transition: background-color ease-in 100ms;

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-preview:hover {
    background-color: #3d3838;
}

.premium-border {
    border: 3px #f47fff solid;
}

.member-preview .left {
    display: flex;
    align-items: center;
}

.member-preview .left .img-wrapper {
    max-width: 100px;
    flex-shrink: 0;
    display: inline-block;
}

.member-preview .left .img-wrapper .avatar {
    border-radius: 50%;
    width: 100%;
}

.member-preview .left .img-wrapper .status {
    width: 36%;
    position: relative;
    right: 30%;
}

.member-preview .left .name-wrapper {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    flex-shrink: 3;

    overflow: hidden;
}

.member-preview .left .name-wrapper .main-name .name {
    font-family: 'Uni Sans', sans-serif;
    margin: 4vw;
    font-size: min(10vw, 45px);
}

.member-preview .left .name-wrapper .main-name .discriminator {
    font-size: min(4vw, 20px);
}

.member-preview .left .name-wrapper .nick {
    font-family: 'Uni Sans', sans-serif;
    color: rgb(194, 181, 181);
    margin-left: 4vw;
    font-size: min(4vw, 20px);
}

.member-preview .left .boosting {
    display: block;
    margin-left: 2vw;
    background-image: linear-gradient(rgb(218, 156, 156), #f47fff);
    padding: 15px;
    font-size: min(1.5vw, 20px);
    border-radius: 20px;
}

.member-preview-main-divider {
    border: 1px rgb(90, 89, 89) solid;
}

.member-preview .right {
    flex-shrink: 0;
}

.preview-stat {
    margin-left: auto;
    font-size: min(4vw, 30px);
}

@media only screen and (max-width:800px) {
    .member-preview {
        width: 95%;
        padding: 10px;
    }

    .member-preview .left .img-wrapper {
        max-width: 75px;
    }
}