.navbar {
    display: flex;
    background-color: #23272a;
    align-items: center;
}

.logo {
    display: block;
    padding: 20px;
    max-width: 70px;
    height: auto;
}

.navbar-pages {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.navbar-pages a {
    text-decoration: none;
    padding: 20px;
    margin: 0 20px;
    transition: color ease-in 0.15s;
    -webkit-transition: color ease-in 0.15s;
    -o-transition: color ease-in 0.15s;
    -moz-transition: color ease-in 0.15s;

}

.navbar-pages a::before {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 0%;
    background-color: black;

    top: 0;
    left: 0;
    transition: all ease-in-out 150ms;
    -webkit-transition: all ease-in-out 150ms;
    -o-transition: all ease-in-out 150ms;
    -moz-transition: all ease-in-out 150ms;
}

.navbar-pages a:hover::before {
    width: 100%;
}

.navbar-pages a:not(.active) {
    color: white;
}

.navbar-pages a:hover,
.active {
    color: lightblue;
    transform: scale(1.25, 1.25);
}