.navbar {
    display: flex;
    background-color: #23272a;
    align-items: center;
}

.logo {
    display: block;
    padding: 20px;
    max-width: 70px;
    height: auto;
}

.navbar-pages {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.navbar-pages a {
    text-decoration: none;
    padding: 20px;
    margin: 0 20px;
    transition: color ease-in 0.15s;
}

.navbar-pages a:not(.active) {
    color: white;
}

.navbar-pages a:hover,
.active {
    color: lightblue;
    transform: scale(1.25, 1.25);
}