#stats-body {
    background-color: #7fcbab;
}

#stats-sections {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#stats-sections div {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 500px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stats-sections div a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #7289da;
    padding: 10px 20px;
    font-size: 60px;
    border-radius: 15px;

    font-family: 'Lato', sans-serif;

    transition: all ease 250ms;
    -webkit-transition: all ease 250ms;
    -moz-transition: all ease 250ms;
    -o-transition: all ease 250ms;
}

#stats-sections div a:hover {
    background-color: #7289DA;
    transform: scale(0.9, 0.9)
}

#stats-sections .section-1 {
    background-image: url("../images/money.png");
}

#stats-sections .section-2 {
    background-image: url("../images/team.png");
}

#stats-sections .section-3 {
    background-image: url("../images/award.png");
}

#stats-sections .section-4 {
    background-image: url("../images/stock graph.jpg");
}


@media only screen and (max-width: 315px) {
    #stats-sections div a {
        padding: 10px 20px;
        font-size: 35px;
    }
}